 * {
     box-sizing: border-box;
 }
 
 body {
     background: gray;
 }
 
 .main {
     height: 400px;
     width: 210px;
     margin: 80px auto;
     background: grey;
     border-radius: 20px;
     box-shadow: -10px 10px 10px rgba(0, 0, 0, .30);
     /* border: white solid; */
 }
 
 .main .box1 {
     height: 200px;
     background-color: rgba(244, 101, 5, 0.891);
     border-radius: 20px 20px 0 0;
     position: relative;
 }
 
 .main .box1 .logo {
     height: 40px;
     width: 50px;
     background: url(https://cdn-icons-png.flaticon.com/512/732/732084.png);
     background-size: 100% 100%;
     margin-left: 15px;
 }
 
 .main .box1 .font {
     color: white;
     margin-left: 15px;
     font-size: 13PX;
     letter-spacing: 2PX;
 }
 
 .main .box1 .tex {
     color: white;
     margin-left: 15px;
     font-size: 10PX;
     margin-top: 5px;
 }
 
 .main .box1 .fas {
     color: rgba(0, 0, 0, .20);
     width: 150px;
     margin-left: 0px;
     font-size: 110PX;
     margin-top: 5px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 .main .box1 .img {
     position: absolute;
     top: -30px;
     left: 35px;
     height: 255px;
     width: 240px;
 }
 
 .main .box2 {
     height: 200px;
     background-color: white;
     border-radius: 0 0 20px 20px;
 }
 
 .main .box2 .har {
     display: flex;
 }
 
 .main .box2 .har .s1 {
     width: 55%;
     font-size: 15px;
     margin: 10px 0 0 15px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
 }
 
 .main .box2 .har .s2 {
     width: 15%;
     font-size: 13px;
     color: white;
     margin-top: 10px;
     background-color: lime;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     border-radius: 3px;
     text-align: center;
 }
 
 .main .box2 .bas {
     margin: 3px 0 0 15px;
     font-size: 8px;
 }
 
 .main .box2 .star {
     margin: 4px 0 0 15px;
     font-size: 8px;
 }
 
 .main .box2 .siz {
     margin: 7px 0 0 15px;
     font-size: 10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
 }
 
 .main .box2 .num {
     display: flex;
 }
 
 .main .box2 .num .x {
     margin: 10px 0 0 10px;
     position: relative;
     font-size: 10px;
     height: 22px;
     width: 22px;
     text-align: center;
     line-height: 22px;
     /* border: solid; */
     z-index: 0;
 }
 
 .main .box2 .num .x .y {
     content: "";
     position: absolute;
     top: 0px;
     left: 0px;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     /* border: solid; */
     background: rgba(244, 101, 5, 0.891);
     z-index: -1;
     color: white;
     opacity: 0;
     transition: 1s;
 }
 
 .main .box2 .num .x:hover .y {
     opacity: 1;
 }
 
 .main .box2 .col {
     margin: 7px 0 0 15px;
     font-size: 10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
 }
 
 .main .box2 .red {
     display: flex;
     position: relative;
 }
 
 .main .box2 .red .gre {
     width: 50%;
     /* border: solid; */
     margin-top: 15px;
     display: flex;
 }
 
 .main .box2 .red .gre .m {
     height: 12px;
     width: 12px;
     margin: 7px 0 0 15px;
     background: rgba(244, 101, 5, 0.891);
     border-radius: 50%;
 }
 
 .main .box2 .red .gre .m1 {
     height: 12px;
     width: 12px;
     margin: 7px 0 0 15px;
     background-color: lime;
     border-radius: 50%;
 }
 
 .main .box2 .red .gre .m2 {
     height: 12px;
     width: 12px;
     margin: 7px 0 0 15px;
     background-color: yellow;
     border-radius: 50%;
 }
 
 .main .box2 .red .gre .n {
     height: 20px;
     width: 20px;
     margin: -4px 0px 0 -4px;
     border: solid 2px rgba(244, 101, 5, 0.891);
     border-radius: 50%;
     opacity: 0;
 }
 
 .main .box2 .red .gre .m:hover .n {
     opacity: 1;
 }
 
 .main .box2 .red .gre .n1 {
     height: 20px;
     width: 20px;
     margin: -4px 0px 0 -4px;
     border: solid 2px lime;
     border-radius: 50%;
     opacity: 0;
 }
 
 .main .box2 .red .gre .m1:hover .n1 {
     opacity: 1;
 }
 
 .main .box2 .red .gre .n2 {
     height: 20px;
     width: 20px;
     margin: -4px 0px 0 -4px;
     border: solid 2px yellow;
     border-radius: 50%;
     opacity: 0;
 }
 
 .main .box2 .red .gre .m2:hover .n2 {
     opacity: 1;
 }
 
 .main .box2 .red .yel {
     position: relative;
     top: 0;
     left: 10PX;
     background-color: lime;
     /* border: solid; */
     margin-top: 11px;
     height: 35px;
     width: 200px;
     border-radius: 5px;
     color: white;
     text-align: center;
     line-height: 35px;
     font-size: 21px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 .main .box2 .red .yel span {
     color: rgba(255, 255, 255, .5);
 }