* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main1 {
    height: 700px;
    background-color: aqua;
    text-align: center;
    padding: 0 110px;
}

.main1 .arr {
    /* height: 100px; */
    border: 2px solid;
    font-size: 30px;
    padding: 20px 0px;
}

.main1 .arr span {
    font-weight: bold;
}

.main1 .bag {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}

.main1 .bag li {
    display: inline;
    padding: 10px 50px;
    font-size: 25px;
    background-color: blue;
}

.main1 .bag li:hover {
    background-color: brown;
}

.main1 .bag li:hover.hem {
    /* display: block; */
    opacity: 1;
}

.main1 .bag .hem {
    height: 450px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
}

.main1 .bag .hem .main {
    height: 450px;
    width: 250px;
    /* border: 2px solid; */
    box-shadow: 0px 0px 10px grey;
}

.main1 .bag .hem .main .uper {
    height: 300px;
    width: 250px;
    position: relative;
}

.main1 .bag .hem .main .uper .x {
    height: inherit;
    width: inherit;
    position: absolute;
    transform: rotateY(180deg);
    transition: 1s;
}

.main1 .bag .hem .main .uper .y {
    height: inherit;
    width: inherit;
    position: absolute;
    transform: rotateY(0deg);
    transition: 1s;
}

.main1 .bag .hem .main .uper:hover .x {
    transform: rotateY(0deg);
}

.main1 .bag .hem .main .uper:hover .y {
    transform: rotateY(180deg);
}

.main1 .bag .hem .main .center {
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.main1 .bag .hem .main .center .font {
    text-align: center;
    margin-top: 10px;
    color: red;
}

.main1 .bag .hem .main .center .font1 {
    text-align: center;
    margin-top: 10px;
}

.main1 .bag .hem .main .center .font1 del {
    color: gray;
}

.main1 .bag .hem .main .uper .view {
    position: absolute;
    height: 50px;
    width: 250px;
    background: black;
    top: 0;
    left: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: 1s;
}

.main1 .bag .hem .uper:hover .view {
    top: 250px;
    opacity: 1;
}

.main1 .bag .hem .main .view:hover {
    background: lightskyblue;
}

.main1 .bag .hem .main .bottom {
    height: 30px;
    width: 200px;
    background-color: rgb(11, 189, 189);
    margin: 30px auto;
    text-align: center;
    line-height: 30px;
    position: relative;
    z-index: 0.50;
}

.main1 .bag .main .bottom .box1 {
    position: absolute;
    height: 40px;
    width: 210px;
    /* background-color: aqua; */
    border: solid rgb(11, 189, 189);
    top: -8px;
    left: -8px;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: -1;
    font-weight: bold;
}


/* .main1 .hem .bottom:hover .box1 {
    transform: scale(1);
    opacity: 1;
}

.main1 .dev {
    display: none;
    background-color: aqua;
}

.main1 .bag .dg :hover .dev {
    display: block;
} */


/* .main1 .bag .dg :hover .main1 .hem {
    display: none;
} */


/* .main1 .bag li :hover {
    background-color: brown;
} */